<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Halaman {% block judul%} {% endblock %}</title>

    <!--CSS area-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/adminlte.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/adminlte.css')}}">

    <!--CSS font area -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='font/sansPro.css')}}">
</head>

<body>
    <!-- content area -->
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                <a href="/">
                    <img src="{{url_for('static', filename='img/Logo_Gram.png')}}" alt="logo" style="width: 40px;">
                </a>
                Data Mahasiswa
                <smal>Teknik Komputer</smal>
            </h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class ="nox-header">
                        {% block JudulKonten %} {% endblock %}
                    </div>

                    <!-- data table (database) area -->
                    <div class="box-body">
                        {% block konten %} {% endblock %}
                    </div>
                </div>
            </div>
        </section>

<!-- Javascript area -->
 <script src="{{url_for('static', filename='js/adminlte.min.js')}}"></script>
 <script src="{{url_for('static', filename='js/adminlte.min.js')}}"></script>
</body>
</html>